body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*main {
  flex: 1 0 auto;
}*/

    /*FORMATO SECCIÓN CARD (ÁREA DE COMENTARIOS) Y SUS COMPONENTES*/ 
    .fixed-action-btn {
      bottom: 0;
      position: relative;
      right: 0;
    }   
    
   .card {
     width: 17em;
     margin-top: 2em;
   }

   .card .card-content {
     padding: 33px;
   }

   .color{
    color: rgb(52, 65, 177);
    transition: color ease .3s;
    cursor: pointer;
  }

  .commentIcon {
    padding-left: 1em;
  }
  

/*formatos de Index html*/
nav {
  background-color: #0288d1;
}
img.responsive-img{
  max-width:85%;
  margin-top: 0.5em;
}

.format-title{
  font-size: 20px;
  font-family: 'Monoton',cursive;
}

#sizeSearch{
  margin-top:0.5rem;
  width: 50%;
  height: 7vh;
  margin-left: 0.5rem;
  background-color:#eceff1;
}
.background{
  background-image:  url("../assets/images/pelis1.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-floating.btn-large{
  width: 49px;
  height: 49px;
  margin: 0.2em;
  background-color: #03a9f4;
}
nav .input-field label i{
  color:black;
}


.page-footer{
background-color: #70D3FF;
}

.carrusel{
 width: 50%;
 height: 25vh;
}


/*SECCIÓN SIDENAV-*/s
.exit {
  margin-left: 0.8em;
}

.exit-text {
  padding-left: 1em;
}

/*.review {
  position: relative;
  left: 0.1em;
}*/

#review {
  margin-left: -1em;
}

.review-text {
  margin-left: -1em;
}

.terminal-movie, .star-movie, .venom-movie {
  margin-top: 2em;
}